In [11]:
# <-- this symbol makes this line a comment
# press shift+enter to run the print statement below
print("hello world")

hello world

In [ ]:
# Variables are case sensitive

In [14]:
# Basic operators
3*5

15

In [12]:
x = 3*5

In [13]:
print("x=",x)

x= 15

In [ ]:
x*x

In [9]:
# Beware. This is wacky
x^2

13

In [ ]:
# Instead, use this for squaring a number
x**2

In [ ]:
first_name = "Austin"
last_name = "Buchanan"
full_name = first_name + " " + last_name
print(full_name)

In [ ]:
primes_under_20 = [2,3,5,7,11,13,17,19]
print(primes_under_20)

In [ ]:
# Beware. 
print(2*primes_under_20)