In [18]:
my_list = ["a word", 5, "monkey"]
print(str(my_list[1])+my_list[2].title())

5Monkey

In [19]:
a = 5.0
def test_fun():
    "function to return the value of variable a"
    return a
print(a)
print(test_fun())
print(a)

5.0
5.0
5.0

In [20]:
print(my_list[-2])

5

In [21]:
bikes = ["honda","yamaha","ducati","kawasaki","suzuki"]
print(bikes[2].upper())

DUCATI

In [22]:
bikes.append("honda")

In [23]:
print(bikes[-1])

honda

In [24]:
print(bikes)

['honda', 'yamaha', 'ducati', 'kawasaki', 'suzuki', 'honda']

In [25]:
del(bikes[-2])

In [26]:
print(bikes)

['honda', 'yamaha', 'ducati', 'kawasaki', 'honda']

In [27]:
bikes.append("suzuki")

In [28]:
print(bikes)

['honda', 'yamaha', 'ducati', 'kawasaki', 'honda', 'suzuki']

In [29]:
if (bikes.pop() == "ducati"):
    print("its my bike")
else:
    print("none")

none

In [30]:
if (bikes != []):
    print(bikes.pop())

honda

In [31]:
bikes.remove("honda")

In [32]:
bikes.sort(reverse=True)

In [33]:
print(bikes)

['yamaha', 'kawasaki', 'ducati']

In [ ]:
print(sorted(bikes))

In [ ]:
print(bikes)

In [ ]:
bikes.reverse()

In [ ]:
print(bikes)

In [ ]:
len(bikes)

In [ ]:
bikes.reverse()
for b in bikes:
    if b == "ducati":
        print("I love "+b)
    else: 
        print("I don't care for "+b)
        
        #print("random test msg1")
        
#print("random test msg2")

In [ ]:
import gurobipy

In [ ]:
for v in range(1,5):
    print(v**v)

In [ ]:
my_nums = [v**2 for v in range(1,11)]
print(my_nums)

In [ ]:
mylist = [1.0, 1, "word"]
print(mylist[0])

In [ ]:
print(bikes)

In [ ]:
for x in range(10):
    print(x)

In [ ]:
print(range(10))

In [ ]:
x= range(10)
print(x)

In [ ]:
for x in range(0,10,2):
    print(x)

In [ ]:
kilos = [60., 66., 73., 81]
pounds = [132.2, 145.5, 160.9, 178.6] 
for k, p in zip(kilos, pounds):
    print(k,p)

In [ ]:
x = 6.99
print(int(x))
isinstance( int(x) , int )

In [ ]:
bikes = ['ducati', 'honda', 'kawasaki', 'ktm', 'suzuki', 'yamaha']
print(bikes)

In [ ]:
mydict = {'ducati', 'honda', 'kawasaki', 'ktm', 'suzuki', 'yamaha'}

In [ ]:
print(mydict)

In [ ]:
print(bikes)

In [ ]:
print(bikes[2:5])

In [ ]:
print(bikes[-2:])

In [ ]:
for p in bikes[-4:]:
    print(p)

In [ ]:
bikes = ['ducati', 'honda', 'kawasaki', 'ktm', 'suzuki', 'yamaha']
newbikes = bikes[:]
print(newbikes)
print(bikes)
bikes.append('bmw')
bikes.append('aprilia')
newbikes.append('mvagusta')
print(newbikes)
print(bikes)

In [ ]:
newlist = []
newlist.append(1)
newlist.append('mvagusta')
newlist.append(3.14)
print(newlist)

In [ ]:
mytuple = ('single','twin','triple','inline four')
for j in mytuple:
    print(j)
mytuple = ('single','twin','triple','inline four','parallel twin')
print(mytuple)
if 'twin' in mytuple and 'single' in mytuple:
    print('they''re in')

In [ ]:
nums = range(1,10)

In [ ]:
print(nums)

In [ ]:
5 in nums

In [ ]:
if nums:
    print('nums not empty')
else: 
    print('nums is empty')

In [ ]:
A = {}

In [ ]:
print(A)

In [ ]:
x = 5.3
y = int(x)
print(x)
print(y)

In [ ]:
myset = {'bb','aa','cc','aa'}
print(myset)
myset.add('xx')
print(myset)
myset.remove('aa')
print(myset)
if 'yy' in myset:
    myset.remove('yy')
else:
    print('not found')
set2 = {'aa','yy','cc'}
set3 = myset & set2
print(set3)
set1 = set2.union(myset)
print(set1)
print(set1.issubset(set2))